<% provide(:title, 'About') %>
    <h1>About</h1>
    <p>
      The <%= link_to "Leia App", root_path %> is a way to keep an eye on the little friendly and adventurous
      Leia Bear. Since we rescued Leia Bear, she has always been a free spirit that loves making friends. She
      approaches humans, and some pets, to say hi. We love our little explorer but do fear for her safety at times.
      We tried to make her an indoor kitty, but she hates it and was miserable. So the alternative is to keep an
      eye on her as much as possible. She is very smart and came from a farm where she had to evade coyotes all the
      time as a baby. So now she has a gps tracker and this Web App to share photos and adventures she has with her
      friends here in Talmadge West. She loves this neighborhood and the pets and people that live in it. Thank you
      for being Leia Bear's friend and sharing your adventures/photos with us.
    </p>

    <p>
      There will be updates to the app as time allows me to work on it. If you see any issues please let me know.
    </p>