<% provide(:title, 'Contact') %>
    <h1>Contact</h1>
    <p>
      If you need help or have any concerns you can email me at talmadgebearauto@gmail.com or
      you can approach me about the issue when you see me walking around the neighborhood.
    </p>
    <p>
      Thank you for being a FRIEND to my little <h3>Leia Bear</h3>
    </p>