<!-- app/views/user_mailer/welcome_email.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to My App, <%= @user.name %>!</h1>
    <!-- Add your email content here -->

    lorem ipsum

  </body>
</html>
